/* Icons/csp/Vertical/upload */
left: 0px;
top: 2463px;

/* Icons/csp/Vertical/paid */
left: 410px;
top: 410px;

/* Icons/csp/Vertical/paid */
left: 3280px;
top: 2050px;

/* Icons/csp/Vertical/faster */
left: 0px;
top: 410px;

/* Icons/csp/Vertical/faster */
left: 2870px;
top: 2050px;

/* Icons/csp/Vertical/diversity */
left: 2460px;
top: 0px;

/* Icons/csp/Vertical/diversity */
left: 2460px;
top: 2050px;

/* Icons/csp/Vertical/customize */
left: 2050px;
top: 0px;

/* Icons/csp/Vertical/customize */
left: 1640px;
top: 2050px;

/* Icons/csp/Vertical/contact */
left: 1640px;
top: 0px;

/* Icons/csp/Vertical/contact */
left: 2050px;
top: 2050px;

/* Icons/csp/Vertical/connect */
left: 1230px;
top: 0px;

/* Icons/csp/Vertical/connect */
left: 1230px;
top: 2050px;

/* Icons/csp/Vertical/categories */
left: 820px;
top: 0px;

/* Icons/csp/Vertical/categories */
left: 820px;
top: 2050px;

/* Icons/csp/Vertical/business */
left: 410px;
top: 0px;

/* Icons/csp/Vertical/business */
left: 410px;
top: 2050px;

/* Icons/csp/Vertical/account */
left: 0px;
top: 0px;

/* Icons/csp/Vertical/account */
left: 0px;
top: 2050px;

/* Icons/csp/Mobile/upload */
left: 410px;
top: 2870px;

/* Icons/csp/Mobile/paid */
left: 0px;
top: 2870px;

/* Icons/csp/Mobile/numbers-pattern */
left: 410px;
top: 2460px;

/* Icons/csp/Mobile/faster */
left: 3280px;
top: 2460px;

/* Icons/csp/Mobile/diversity */
left: 1640px;
top: 2460px;

/* Icons/csp/Mobile/customize */
left: 1230px;
top: 2460px;

/* Icons/csp/Mobile/contact */
left: 2870px;
top: 2460px;

/* Icons/csp/Mobile/connect */
left: 2460px;
top: 2460px;

/* Icons/csp/Mobile/categories */
left: 2050px;
top: 2460px;

/* Icons/csp/Mobile/business */
left: 820px;
top: 2460px;

/* Icons/csp/Image/xs-dollar */
left: 820px;
top: 820px;

/* Icons/csp/Image/xl-moneybag */
left: 0px;
top: 1640px;

/* Icons/csp/Image/xl-dollar */
left: 2870px;
top: 1230px;

/* Icons/csp/Image/xl-coins */
left: 820px;
top: 1230px;

/* Icons/csp/Image/small-coins */
left: 0px;
top: 820px;

/* Icons/csp/Image/sm-moneybag */
left: 410px;
top: 820px;

/* Icons/csp/Image/sm-dollar */
left: 1230px;
top: 820px;

/* Icons/csp/Image/md-dollar */
left: 2870px;
top: 820px;

/* Icons/csp/Image/lg-moneybag */
left: 2050px;
top: 1230px;

/* Icons/csp/Image/lg-dollar */
left: 2050px;
top: 820px;

/* Icons/csp/Image/lg-coins */
left: 0px;
top: 1230px;

/* Icons/csp/Horizontal/numbers-pattern */
left: 820px;
top: 410px;

/* Icons/csp/Horizontal/diversity */
left: 2050px;
top: 410px;

/* Icons/csp/Horizontal/customize */
left: 1640px;
top: 410px;

/* Icons/csp/Horizontal/business */
left: 1230px;
top: 410px;

/* Icons/csp/arrowRight */
width: 8px;
height: 8px;
left: 820px;
top: 2870px;

/* Icons/csp/arrowLeft */
width: 8px;
height: 8px;
left: 830px;
top: 2870px;

/* Icons/csp/arrowDown */
width: 8px;
height: 8px;
left: 840px;
top: 2870px;

/* Icons/csp/arrowUp */
width: 8px;
height: 8px;
left: 850px;
top: 2870px;

/* Icons/csp/Banner/headerGraphic */
width: 1134px;
height: 20px;
left: 2460px;
top: 410px;

/* Icons/csp/Banner/Square */
width: 769px;
height: 79px;
left: 3230px;
top: 440px;

/* Icons/csp/Banner/Quadrilateral */
width: 346px;
height: 70px;
left: 2460px;
top: 530px;
